* {
    padding: 0;
    margin: 0;
}

body {
    color: black;
}

#main {
    height: 70px;
    width: 100%;
    background-color: black;
    padding-top: 20px;

}

ul li {
    font-size: 20px;
    display: inline;
    color: white;
}

li a {
    color: white;
    padding: 5px;
    margin: 30px;
    text-decoration: none;
    font-size: 20px;

}

a:hover {
    text-decoration: underline;
}

.main-part2 {
    height: 550px;
    width: 100%;
    /* background-color: rgb(202, 224, 202); */
   
}

.part1 {
    height: 100%;
    width: 65%;
    float: left;

    /* background-color: pink;
    
  */
}


.part2 {
    height: 100%;
    width: 35%;
    background:url("/images/oracle5.png");
    float: left;
}

.part1 h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: serif;
}

.part1 p {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 10px;
    
    
}
           
.part1 h4 {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;

}

.btn {
    text-decoration: none;
    margin-left: 30px;

}

.main-part3 {
    height: 14px;
    width: 100%;
    background: url("/images/oracle3.png") no-repeat;
    background-size: cover;

}

.part-pic1 {
    height: 480px;
    width: 100%;
    background-color: rgb(232, 228, 233);

}

.pic1-inner1 {
    height: 100%;
    width: 50%;
    background-color: rgb(246, 244, 247);
    float: left;
}

.pic1-inner2 {
    height: 100%;
    width: 50%;
    background-color: rgb(246, 244, 247);
    float: left;
    padding-top: 50px;
  
}

#org-dash1{
    height: 5px;
    width: 50px;
    background-color: rgb(248, 238, 99);
    margin-left: 50px;
    margin-top: 20px;
}

#pic-pre p {
    font-size: 20px;
    margin-top: 30px;

}

.video-container {
    height: 220px;
    width: 350px;
    background-color: lightcoral;
    margin-top: 100px;
    margin-left: 80px;
    overflow: hidden;
}

.video button img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}
.video-p{
    height: 100px;
    width: 100%;
    /* background-color: pink; */
    padding-top: 10px;
    padding-left: 80px;
}
.video-p  a{
font-size: 20px;
text-decoration: none;

}
.video-container2{
    height: 250px;
    width: 70%;
    background-color: pink;
    margin-top: 100px;
    margin-left: 50px;
    
}
.card-container1
{
    height: 1090px;
    width: 100%;
    /* background-color: violet; */
    
}
.card-part1{
    height: 480px;
    width: 380px;
    /* background-color: crimson; */
    background-color: rgb(246, 244, 247);
    
    margin-left: 30px;
    margin-top: 50px;
    float: left;
    border-radius: 10px;
    
}
.card-part-box1{
    height: 530px;
    width: 860px;
    /* background-color: aqua; */
    margin-left: 240PX;
    

}
.card-pic{
    height: 180px;
    width: 100%;
    background-color: aquamarine;
    float: left;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.card-p{
    height: 220px;
    width: 100%;
    /* background-color: plum; */
    float: left;
    padding-left: 25px;
    padding-top: 15px;
}
.card-button a{
    text-decoration: none;
    color: white;
    
    
}

.card-part-box2{   
    margin-top: 0px;   
    height: 530px;
    width: 860px;
    /* background-color: aqua; */
    margin-left: 240PX;
}
.card-part2{
    height: 480px;
    width: 380px;
    /* background-color: crimson; */
    background-color: rgb(246, 244, 247);
    margin-left: 30px;
    margin-top: 30px;
    float: left;
    border-radius: 10px;
    
}
#org-dash2{
    height: 5px;
    width: 50px;
    background-color: rgb(248, 238, 99);
    margin-top: 20px;
}
.next-part{
    height: 620px;
    width:100%;
    /* background-color: blue; */
}

.next1{
    height:100%;
    width: 50%;
    /* background-color: lightgray; */
    float: left;
    padding-left: 50px;
}
.next2{
    height: 100%;
    width: 50%;
    background-color: rgb(243, 201, 201);
    float: left;
}
.next1 p{
    font-size: 20px;
}
.next1 h2{
    font-family: serif;
}
.org-dash3{
    height: 6px;
    width: 50px;
    background-color: rgb(248, 238, 99);
    margin-top: 20px;
}
.next1 p{
    margin-top: 20px;
}
i{
    font-size: 45px;
}
.td{
  padding: 0px;
}
.pic-card-container
{
height: 250px;
width: 100%;
/* background-color: brown; */
background-color: rgb(246, 244, 247);
margin-top: 10px;
}
.table-contener{
    height:80%;
    width:95%;
    /* background-color: aqua; */
    margin-left:50px ;

}
.table-img{
    height: 150px;
    width: 240px;
    /* background-color: pink */
    ;margin-top: 25px;
    

}
.table-img2{
    height: 150px;
    width: 240px;
    /* background-color: pink */
    ;margin-top: 30px;
    

}
.table-img img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit:fill;
    border-radius: 7px;
}
.table-img2 img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit:fill;
    border-radius: 7px;
}
.td-space{
    padding-left: 30px;
    padding-right: 40px;
}
.table-pra{
    height: 150px;
    width: 350px;
    /* background-color: blueviolet; */
    padding-top: 15px;
}
td{
    border-left: 2px solid black;
}
.big-box{
    height: 800px;
    width: 100%;
    background-color:rgb(10, 10, 92);

}
.box-header1{
    height: 150px;
    width: 50%;
    background-color: palevioletred;
    float: left;
    font-family: fantasy;
}
.box-header2{
    height: 150px;
    width: 50%;
    background-color: rgb(216, 112, 112);
    float: left;
    padding-top: 40px;
   padding-left: 30%;
}
.box-body{
    height: 500px;
    width: 28%;
    background-color: darkgrey;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    
}
.box-part1{
    height: 50%;
    width: 100%;
    background-color: brown;
    float: left;
    
    
}
.box-part1 a{
    color: white;
}

.box-part1 p {
    color: white;
    text-decoration: none ;
}

.box-part1 :hover .box1{
    color: orange; 
 
}
.box-part1:hover .box2{
    color:white;

}

.box-part2{
    height: 50%;
    width: 100%;
    background-color: rgb(199, 179, 179);
    float: left;
    text-decoration: none;
    margin-top: 30px;
}
.box1{
    height: 40%;
    width: 100%;
    background-color: darkmagenta;
    font-family:fantasy;
    padding-top: 20px;
    align-items: center;
    /* font-size: 30px; */
   

}
.box1 h4{
    font-size:30px;
}
.box2{
    height: 60%;
    width: 100%;
    background-color: rgb(203, 235, 128);
    color: rgb(248, 246, 246);
}
.box2 a{
    text-decoration: none;
}
.box-header1 h2{
    margin-left: 50px;
    color: white;
    text-align: left;
    margin-top: 20px;
}
.box-header2  a{
   
    color: orange;
    text-decoration: none;
    text-align: center;

    
}


 